@page

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Chat</title>
    </head>
    <body>
        <div id="loginBlock">
            Введите логин:<br />
            <input id="userName" type="text" />
            <input id="loginBtn" type="button" value="Войти" />
        </div><br />

        <div id="header"></div><br />

        <div id="inputForm">
            <input type="text" id="message" />
            <input type="button" id="sendBtn" value="Отправить" />
        </div>
        <div id="chatroom"></div>

        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/chat.js">
        </script>
    </body>
</html>
